body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #000000;
  --secondary: #1963ac;
  --tertiary: #131313;
  --primary-highlight: #ffffff;
  --secondary-highlight: #c5332a;
  --tertiary-highlight: #b344b4;
}

.pri-bkgd {
  background-color: var(--primary);
  color: var(--primary-highlight);
}
