body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #000000;
  --secondary: #1963ac;
  --tertiary: #131313;
  --primary-highlight: #ffffff;
  --secondary-highlight: #c5332a;
  --tertiary-highlight: #b344b4;
}

.p-bkgd {
  background-color: var(--primary);
  color: var(--primary-highlight);
}

.s-bkgd {
  background-color: var(--secondary);
  color: var(--primary-highlight);
}

.t-bkgd {
  background-color: var(--tertiary);
  color: var(--secondary);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding-1 {
  padding: 1rem 0 1rem 0;
}

.padding-2 {
  padding: 2rem 0 2rem 0;
}
